@import url("https://cdn.jsdelivr.net/gh/itsfoxdev/API/fonts/gilroy/import.css");
@import url("https://cdn.jsdelivr.net/gh/ItsFoxDev/FoxCSS/latest.css");
#check {
  width: 100vw;
  height: 100vh;
  position: absolute;
  inset: 0px;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  transition: opacity 0.3s;
  opacity: 1;
  user-select: none;
  pointer-events: none;
  backdrop-filter: blur(5px);
  flex-direction: column;
  /*padding:calc(50vh - 162.5px) calc(50vw - 150px);*/
}
#check lottie-player {
  margin-bottom: -50px;
}
#sub {
  font-weight: 700;
  color: #52c6a2;
  float: bottom;
  display: block;
  width: 300px;
  font-size: 35px;
  text-align: center;
}
body {
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0px;
  height: 100vh;
  width: 100vw;
  background: rgb(255,192,0);
  background: linear-gradient(-45deg, #FF1A56 0%, #FFB002 100%);
  overflow:hidden;
}

button {
  width: 159px;
  display: inline-block;
  outline: 0;
  border: 0;
  cursor: pointer;
  transition: box-shadow 0.15s ease, transform 0.15s ease;
  will-change: box-shadow, transform;
  background: #fcfcfd;
  box-shadow: 0px 2px 4px rgb(45 35 66 / 40%),
    0px 7px 13px -3px rgb(45 35 66 / 30%), inset 0px -3px 0px #d6d6e7;
  height: 48px;
  padding: 0 12px;
  font-size: 18px;
  border-radius: 6px;
  transition: box-shadow 0.15s ease, transform 0.15s ease;
}
button:hover {
  box-shadow: 0px 4px 8px rgb(45 35 66 / 40%),
    0px 7px 13px -3px rgb(45 35 66 / 30%), inset 0px -3px 0px #d6d6e7;
  transform: translateY(-2px);
}
button:active {
  box-shadow: inset 0px 3px 7px #d6d6e7;
  transform: translateY(2px);
}
* {
  font-family: Gilroy;
}
.category{
  font-weight:500;
  font-size:17.5px;
}
*{
  color:#36395a;
}
.btns {
  width: calc(100vw - 50px);
  margin: 0px 2px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.cfts button {
  width: 75px;
  height:40px;
}
window{
  -webkit-box-shadow: inset -5px -5px 15px 5px #ff9100; 
  box-shadow: inset -5px -5px 15px 5px #ff91007c;
  display:block;
  width:calc(100vw - 50px);
  height:calc(100vh - 50px);
  background:#f0f0f1;
  border-radius:10px;
  display:flex;
  flex-direction: column;
}
#header{
  display:flex;
  align-items: center;
  gap:5px;
  padding:10px 10px;
  box-sizing:border-box;
  height:64px;
  width:100%;
  border-bottom:1px solid rgba(0,0,0,0.1);
  user-select: none;
  -webkit-user-drag: none;
}
h1{
  font-size:43px;
  font-weight:900;
  background: linear-gradient(45deg, #FF1A56 0%, #FFB002 100%); 
  color:transparent;
  -webkit-background-clip: text;
  background-clip: text;
}
#inner{
  padding:25px;
  box-sizing: border-box;
  display:flex;
  gap:10px;
  flex-direction: column;
  overflow-y:overlay;
  overflow-x:hidden;
}